# DT-1 (Fraud check).

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets  
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import  DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import classification_report

In [3]:
dt= pd.read_csv(r"C:\Users\mrmri\Downloads\Assignments Excelr\Decision Tree\Fraud_check.csv")

In [4]:
dt.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [5]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Undergrad        600 non-null    object
 1   Marital.Status   600 non-null    object
 2   Taxable.Income   600 non-null    int64
 3   City.Population  600 non-null    int64
 4   Work.Experience  600 non-null    int64
 5   Urban            600 non-null    object
dtypes: int64(3), object(3)
memory usage: 28.2+ KB

In [6]:
dt.describe()

       Taxable.Income  City.Population  Work.Experience
count      600.000000       600.000000       600.000000
mean     55208.375000    108747.368333        15.558333
std      26204.827597     49850.075134         8.842147
min      10003.000000     25779.000000         0.000000
25%      32871.500000     66966.750000         8.000000
50%      55074.500000    106493.500000        15.000000
75%      78611.750000    150114.250000        24.000000
max      99619.000000    199778.000000        30.000000

In [8]:
cut_labels=['Risky', 'Good']
cut_bins=[0, 30000,100000]
dt['TxIn']=pd.cut(dt['Taxable.Income'],labels=cut_labels,bins=cut_bins)

In [11]:
dt.pop('Taxable.Income')

0      68833
1      33700
2      36925
3      50190
4      81002
       ...
595    76340
596    69967
597    47334
598    98592
599    96519
Name: Taxable.Income, Length: 600, dtype: int64

In [12]:
dt.head

<bound method NDFrame.head of     Undergrad Marital.Status  City.Population  Work.Experience Urban  TxIn
0          NO         Single            50047               10   YES  Good
1         YES       Divorced           134075               18   YES  Good
2          NO        Married           160205               30   YES  Good
3         YES         Single           193264               15   YES  Good
4          NO        Married            27533               28    NO  Good
..        ...            ...              ...              ...   ...   ...
595       YES       Divorced            39492                7   YES  Good
596       YES       Divorced            55369                2   YES  Good
597        NO       Divorced           154058                0   YES  Good
598       YES        Married           180083               17    NO  Good
599        NO       Divorced           158137               16    NO  Good

[600 rows x 6 columns]>

In [13]:
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
dt['Undergrad']=label_encoder.fit_transform(dt['Undergrad'])
dt['Marital.Status']=label_encoder.fit_transform(dt['Marital.Status'])
dt['Urban']=label_encoder.fit_transform(dt['Urban'])
dt['TxIn']=label_encoder.fit_transform(dt['TxIn'])

In [14]:
dt.head()

   Undergrad  Marital.Status  City.Population  Work.Experience  Urban  TxIn
0          0               2            50047               10      1     0
1          1               0           134075               18      1     0
2          0               1           160205               30      1     0
3          1               2           193264               15      1     0
4          0               1            27533               28      0     0

In [15]:
colnames = list(dt.columns)
colnames

['Undergrad',
 'Marital.Status',
 'City.Population',
 'Work.Experience',
 'Urban',
 'TxIn']

In [16]:
x = dt.iloc[:,0:5]
y = dt.iloc[:,5]

In [17]:
x_train, x_test,y_train,y_test = train_test_split(x,y, test_size=0.3,random_state=0)

In [18]:
model = DecisionTreeClassifier(criterion = 'entropy',max_depth=3)
model.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3)

In [19]:
model.get_n_leaves()

7

In [20]:
preds = model.predict(x_test)
pd.Series(preds).value_counts()

0    180
dtype: int64

In [21]:
preds

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0])

In [22]:
pd.crosstab(y_test,preds)

col_0    0
TxIn
0      137
1       43

In [23]:
print(classification_report(preds,y_test))

              precision    recall  f1-score   support

           0       1.00      0.76      0.86       180
           1       0.00      0.00      0.00         0

    accuracy                           0.76       180
   macro avg       0.50      0.38      0.43       180
weighted avg       1.00      0.76      0.86       180

C:\Users\mrmri\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\mrmri\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\mrmri\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# DT-2 (Company Data).

In [41]:
dt2= pd.read_csv(r"C:\Users\mrmri\Downloads\Assignments Excelr\Decision Tree\Company_Data.csv")

In [42]:
dt2.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [43]:
dt2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    int64
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(1), int64(7), object(3)
memory usage: 34.5+ KB

In [44]:
dt2.describe()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,7.496325,124.975000,68.657500,6.635000,264.840000,115.795000,53.322500,13.900000
std,2.824115,15.334512,27.986037,6.650364,147.376436,23.676664,16.200297,2.620528
min,0.000000,77.000000,21.000000,0.000000,10.000000,24.000000,25.000000,10.000000
25%,5.390000,115.000000,42.750000,0.000000,139.000000,100.000000,39.750000,12.000000
50%,7.490000,125.000000,69.000000,5.000000,272.000000,117.000000,54.500000,14.000000
75%,9.320000,135.000000,91.000000,12.000000,398.500000,131.000000,66.000000,16.000000
max,16.270000,175.000000,120.000000,29.000000,509.000000,191.000000,80.000000,18.000000

In [45]:
cut_labels=['Low','Medium','High']
cut_bins=[-1,5.66,12,17]
dt2['sales']=pd.cut(dt2['Sales'],labels=cut_labels,bins=cut_bins)

In [46]:
dt2.pop('Sales')

0       9.50
1      11.22
2      10.06
3       7.40
4       4.15
       ...
395    12.57
396     6.14
397     7.41
398     5.94
399     9.71
Name: Sales, Length: 400, dtype: float64

In [47]:
dt2.head()

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,sales
0,138,73,11,276,120,Bad,42,17,Yes,Yes,Medium
1,111,48,16,260,83,Good,65,10,Yes,Yes,Medium
2,113,35,10,269,80,Medium,59,12,Yes,Yes,Medium
3,117,100,4,466,97,Medium,55,14,Yes,Yes,Medium
4,141,64,3,340,128,Bad,38,13,Yes,No,Low

In [49]:
from sklearn import preprocessing
label_encoder=preprocessing.LabelEncoder()
dt2['ShelveLoc']=label_encoder.fit_transform(dt2['ShelveLoc'])
dt2['Urban']=label_encoder.fit_transform(dt2['Urban'])
dt2['US']=label_encoder.fit_transform(dt2['US'])
dt2['sales']=label_encoder.fit_transform(dt2['sales'])

In [50]:
dt2.head()

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,sales
0,138,73,11,276,120,0,42,17,1,1,2
1,111,48,16,260,83,1,65,10,1,1,2
2,113,35,10,269,80,2,59,12,1,1,2
3,117,100,4,466,97,2,55,14,1,1,2
4,141,64,3,340,128,0,38,13,1,0,1

In [51]:
colnames = list(dt2.columns)
colnames

['CompPrice',
 'Income',
 'Advertising',
 'Population',
 'Price',
 'ShelveLoc',
 'Age',
 'Education',
 'Urban',
 'US',
 'sales']

In [52]:
x = dt2.iloc[:,0:10]
y = dt2.iloc[:,10]

In [53]:
x_train, x_test,y_train,y_test = train_test_split(x,y, test_size=0.2,random_state=40)

In [54]:
model = DecisionTreeClassifier(criterion = 'entropy',max_depth=3)
model.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3)

In [55]:
model.get_n_leaves()

8

In [56]:
preds = model.predict(x_test)
pd.Series(preds).value_counts()

2    72
1     8
dtype: int64

In [57]:
preds

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 1, 2, 2, 2, 2, 1, 2,
       2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1])

In [58]:
pd.crosstab(y_test,preds)

col_0  1   2
sales
0      0   3
1      6  20
2      2  49

In [59]:
print(classification_report(preds,y_test))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         0
           1       0.23      0.75      0.35         8
           2       0.96      0.68      0.80        72

    accuracy                           0.69        80
   macro avg       0.40      0.48      0.38        80
weighted avg       0.89      0.69      0.75        80

C:\Users\mrmri\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\mrmri\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\mrmri\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))