# (SVM) SalaryData

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report


from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score

In [2]:
train=pd.read_csv(r"C:\Users\mrmri\Downloads\Assignments Excelr\Super Vector Machines\SalaryData_Train(1).csv")
test= pd.read_csv(r"C:\Users\mrmri\Downloads\Assignments Excelr\Super Vector Machines\SalaryData_Test(1).csv")

In [3]:
train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
train.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()

In [6]:
train['Salary']=lb.fit_transform(train['Salary'])
test['Salary']=lb.fit_transform(test['Salary'])

In [7]:
train['Salary'].value_counts()

0    22653
1     7508
Name: Salary, dtype: int64

In [8]:
test=pd.get_dummies(test)
train=pd.get_dummies(train)

In [9]:
x_train = train.iloc[:, :13]
y_train= train.iloc[:, 13]
x_test = test.iloc[:, :13]
y_test= test.iloc[:, 13]

In [10]:
from sklearn.svm import SVC
model=SVC()
model.fit(x_train,y_train)

SVC()

In [11]:
pred=model.predict(x_test)

In [12]:
pred

array([0, 0, 0, ..., 0, 0, 0], dtype=uint8)

In [13]:
print(classification_report(pred,y_test))

              precision    recall  f1-score   support

           0       1.00      0.97      0.99     15060
           1       0.00      0.00      0.00         0

    accuracy                           0.97     15060
   macro avg       0.50      0.49      0.49     15060
weighted avg       1.00      0.97      0.99     15060

C:\Users\mrmri\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\mrmri\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\mrmri\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# (SVM) forest fires

In [14]:
fires=pd.read_csv(r"C:\Users\mrmri\Downloads\Assignments Excelr\Super Vector Machines\forestfires.csv")

In [15]:
fires.head()

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,small
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,small
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,small

In [17]:
fires.isnull().sum()

month            0
day              0
FFMC             0
DMC              0
DC               0
ISI              0
temp             0
RH               0
wind             0
rain             0
area             0
dayfri           0
daymon           0
daysat           0
daysun           0
daythu           0
daytue           0
daywed           0
monthapr         0
monthaug         0
monthdec         0
monthfeb         0
monthjan         0
monthjul         0
monthjun         0
monthmar         0
monthmay         0
monthnov         0
monthoct         0
monthsep         0
size_category    0
dtype: int64

In [18]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()

In [19]:
fires['size_category']=lb.fit_transform(fires['size_category'])
fires['month']=lb.fit_transform(fires['month'])
fires['day']=lb.fit_transform(fires['day'])

In [20]:
fires.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   month          517 non-null    int32
 1   day            517 non-null    int32
 2   FFMC           517 non-null    float64
 3   DMC            517 non-null    float64
 4   DC             517 non-null    float64
 5   ISI            517 non-null    float64
 6   temp           517 non-null    float64
 7   RH             517 non-null    int64
 8   wind           517 non-null    float64
 9   rain           517 non-null    float64
 10  area           517 non-null    float64
 11  dayfri         517 non-null    int64
 12  daymon         517 non-null    int64
 13  daysat         517 non-null    int64
 14  daysun         517 non-null    int64
 15  daythu         517 non-null    int64
 16  daytue         517 non-null    int64
 17  daywed         517 non-null    int64
 18  monthapr       517 non-null    int64
 19  monthaug       517 non-null    int64
 20  monthdec       517 non-null    int64
 21  monthfeb       517 non-null    int64
 22  monthjan       517 non-null    int64
 23  monthjul       517 non-null    int64
 24  monthjun       517 non-null    int64
 25  monthmar       517 non-null    int64
 26  monthmay       517 non-null    int64
 27  monthnov       517 non-null    int64
 28  monthoct       517 non-null    int64
 29  monthsep       517 non-null    int64
 30  size_category  517 non-null    int32
dtypes: float64(8), int32(3), int64(20)
memory usage: 119.3 KB

In [21]:
x = fires.iloc[:, :30]
y = fires.iloc[:, 30]

In [22]:
x_train, x_test, y_train, y_test = train_test_split(x, y,  test_size = 0.3)

In [23]:
clf = SVC()
clf.fit(x_train,y_train)

SVC()

In [24]:
pred = clf.predict(x_test)

In [25]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       1.00      0.07      0.13        43
           1       0.74      1.00      0.85       113

    accuracy                           0.74       156
   macro avg       0.87      0.53      0.49       156
weighted avg       0.81      0.74      0.65       156